body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
}

/*
.hero-image {
  background-color: #121212;
  height: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 150%;
  left: 55%;
  transform: translate(-55%, -50%);
  color: #FFAEAE;
  font-weight: 200px;
}
*/

.sidebar{
  z-index: 1;
  top: 0;
  background: #121212;
  margin-top: 0px;
  padding-top: 100px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h3{
  color: #FFAEAE;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

.p1 {
  color: #FFAEAE;
  margin-top: 0;
  font-weight: normal;
  text-align: center;
  
}

.para{
  color: #FFFFFF;
  background-color: #121212;
}

.heading {
  margin-left: 5px;
  color: #FFAEAE;
}

.sidebar a{
  color: #FFAEAE;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  opacity: 0.7;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #FFAEAE;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  opacity: 0.7;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  background-color: #121212;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0.9;
  background-color: #121212;
}

/* Responsive CSS */

@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #121212;
    width: (100% - 0px);
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #FFAEAE;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    opacity: 0.7;
  }

  .mobile_nav_items{
    background: #121212;
    display: none;
  }

  .mobile_nav_items a{
    color: #FFAEAE;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    opacity: 0.7;
  }
  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}

.centerdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFAEAE;
  background-color: #121212;
}

.icon{
  height:100px;
  width: 100px;
  background-color: #121212;
  border-radius: 50px;
  text-align: left;
  margin: 10px;
  line-height: 100px;
 
}

hr.solid {
  border-top: 0.5px solid #FFAEAE;
  color: #FFAEAE
  background-color: #121212;
}

.tank {
  width: 100%;
  background-color: #CACACA;
  border-radius: 5px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px;
  
}

.html {width: 80%; background-color: #FFAEAE;}
.css {width: 70%; background-color: #FFAEAE;}
.js {width: 45%; background-color: #FFAEAE;}
.php {width: 50%; background-color: #FFAEAE;}


.foot{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #121212; 
}

.social{
  height:10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  line-height: 0px;
  background-color: #121212;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-telegram {
  background: #00aff0;
  color: white;
}
.fa-github {
  background: #2c4762;
  color: white;
}
