/* -------------------- body -------------------- */

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
}

/* -------------------- body -------------------- */

/* -------------------- side nav bar  -------------------- */

.sidenavbar{
  z-index: 1;
  top: 0;
  background: #121212;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 67px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

/* -------------------- side nav bar  -------------------- */

/* ------------ profile, avatar ------------ */

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidenavbar .profile h3{
  color: #FFAEAE;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

/* ------------ profile, avatar ------------ */

/* ------------ side nav bar text ------------ */

.info{
  color: #FFAEAE;
  margin-top: 0px;
  font-weight: normal;
  text-align: center;
}

/* ------------ side nav bar text ------------ */

/* ------------ content text ------------ */

.paragraph{
  color: #FFFFFF;
  background-color: #121212;
}

/* ------------ content text ------------ */

/* ------------ heading text ------------ */

.heading{
  margin-left: 5px;
  color: #FFAEAE;
}

/* ------------ heading text ------------ */

/* ------------ side nav bar content ------------ */

.sidenavbar a{
  color: #FFAEAE;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidenavbar a:hover{
  opacity: 0.7;
}

.sidenavbar i{
  padding-right: 10px;
}

/* ------------ side nav bar content ------------ */

/* -------------------- main content -------------------- */

.content{
  width: (100% - 250px);
  margin-top: 0px;
  padding: 10px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  background-color: #121212;
}

/* -------------------- main content -------------------- */

/* -------------------- responsive css section -------------------- */

.top_nav{
  display: none;
}

/* ------------ responsive content ------------ */

.content .card p{
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: #121212;
}

@media screen and (max-width: 780px){
  .sidenavbar{
   display: none;
  }

  .content{
   margin-left: 0;
   margin-top: 0;
   padding: 10px 20px;
   transition: 0s;
  } 

  .top_nav{
   display: block;
   width: calc(100% - 0%);
  }

/* ------------ responsive content ------------ */

/* -------------------- responsive dropdown bar -------------------- */

  .nav_bar{
   background: #121212;
   width: (100% - 0px);
   margin-top: 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
  }

/* -------------------- responsive dropdown bar -------------------- */

/* ------------ avatar image ------------ */

  .nav_bar .top_nav_avatar{
   width: 50px;
   height: 50px;
   border-radius: 50%;
  }

/* ------------ avatar image ------------ */

/* ------------ dropdown button ------------ */

  .nav_bar .nav_btn{
   color: #FFAEAE;
   font-size: 22px;
   cursor: pointer;
   transition: 0.5s;
   transition-property: color;
  }

  .nav_bar .nav_btn:hover{
   opacity: 0.7;
  } 

/* ------------ dropdown button ------------ */

/* ------------ navbar contents ------------ */

  .top_nav_items{
   background: #121212;
   display: none;
  }

  .top_nav_items a{
   color: #FFAEAE;
   display: block;
   text-align: center;
   letter-spacing: 1px;
   line-height: 60px;
   text-decoration: none;
   box-sizing: border-box;
   transition: 0.5s;
   transition-property: background;
  }

  .top_nav_items a:hover{
   opacity: 0.7;
  }

  .top_nav_items i{
   padding-right: 10px;
  }

  .active{
   display: block;
  }
}

/* ------------ navbar contents ------------ */

/* -------------------- responsive css section -------------------- */


/* -------------------- border divider -------------------- */

hr.solid{
  border-top: 0.5px solid #FFAEAE;
}

/* -------------------- border divider -------------------- */

/* -------------------- skill bar -------------------- */


/* ------------ bar background ------------ */

.skill_background{
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

/* ------------ bar background ------------ */

/* ------------ bar front ------------ */

.skills_bar{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px; 
}

/* ------------ bar front ------------ */

/* ------------ front bar length & colors ------------ */

.html {width: 80%; background-color: #BFA182;}
.css {width: 70%; background-color: #82A3BF;}
.js {width: 45%; background-color: #BCBF82;}
.php {width: 50%; background-color: #9682BF;}

/* ------------ front bar length & colors ------------ */

/* -------------------- skill bar -------------------- */

/* -------------------- footer -------------------- */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #121212; 
}

/* ------------ social media bar ------------ */

.social_icons{
  height:10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  line-height: 0px;
  background-color: #121212;
}

/* ------------ social media bar ------------ */

/* ------------ social media icons ------------ */

.fa{
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  margin: 5px 2px;
}

.fa:hover{
  opacity: 0.7;
}

/* ------------ social media icons ------------ */

/* ------------ icon background colors ------------ */

.fa-linkedin{
  background: #007bb5;
  color: white;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
.fa-instagram{
  background: #125688;
  color: white;
}
.fa-telegram{
  background: #00aff0;
  color: white;
}
.fa-github{
  background: #2c4762;
  color: white;
}

.fa-reddit{
  background: #ff5700;
  color: white;
}

.fa-snapchat-ghost{
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* ------------ icon background colors ------------ */

/* -------------------- end text -------------------- */

.text{
  color: #FFAEAE;
  margin-top: 20px;
  font-weight: normal;
  text-align: center;
}

/* -------------------- end text -------------------- */

/* -------------------- footer -------------------- */