/* -------------------- body -------------------- */

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-image: url("background.png");
  background-color: #ffffff00;
  background-attachment: fixed;
}

/* -------------------- side nav bar  -------------------- */

.sidenavbar{
  z-index: 1;
  top: 0;
  background: #ffffff1a;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 67px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

/* ------------ profile, avatar ------------ */

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidenavbar .profile h3{
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

/* ------------ side nav bar text ------------ */

.info{
  color: #FFFFFF;
  margin-top: 0px;
  font-weight: normal;
  text-align: center;
}

/* ------------ content text ------------ */

.paragraph{
  color: #FFFFFF;
}

/* ------------ heading text ------------ */

.heading{
  border-radius: 5px;
  padding: 5px;
  color: #FFFFFF;
  background-color: #ffffff1a;
  text-align: center;
}

.top_nav_text{
  padding: 0px;
  color: #FFFFFF;
  text-align: center;
  margin-right: 20px;
}

/* ------------ side nav bar content ------------ */

.sidenavbar a{
  color: #FFFFFF;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidenavbar a:hover{
  background-color: #0000008e;
}

.sidenavbar i{
  padding-right: 10px;
}

/* -------------------- main content -------------------- */

.content{
  width: (100% - 250px);
  margin-top: 0px;
  padding: 10px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

/* -------------------- responsive css section -------------------- */

.top_nav{
  display: none;
}

/* ------------ responsive content ------------ */

.content .card p{
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

@media screen and (max-width: 780px){
  .sidenavbar{
   display: none;
  }

  .content{
   margin-left: 0;
   margin-top: 0;
   padding: 10px 20px;
   transition: 0s;
  } 

  .top_nav{
   display: block;
   justify-content: space-between;
   align-items: center;
   margin-left: 20px;
   margin-right: 20px;
  }

/* -------------------- responsive dropdown bar -------------------- */

  .nav_bar{
   background: #ffffff1a;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7px ;
   margin-top: 10px;
  } 

/* ------------ avatar image ------------ */

  .nav_bar .top_nav_avatar{
   width: 35px;
   height: 35px;
   border-radius: 50%;
  }

/* ------------ dropdown button ------------ */

  .nav_bar .nav_btn{
   color: #FFFFFF;
   font-size: 22px;
   cursor: pointer;
   transition: 0.5s;
   transition-property: color;
  }

  .nav_bar .nav_btn:hover{
   opacity: 0.7;
  } 

/* ------------ navbar contents ------------ */

  .top_nav_items{
   background: #ffffff1a;
   display: none;
   border-radius: 5px;
  }

  .top_nav_items a{
   color: #FFFFFF;
   display: block;
   text-align: center;
   letter-spacing: 1px;
   line-height: 60px;
   text-decoration: none;
   box-sizing: border-box;
   transition: 0.5s;
   transition-property: background;

  }

  .top_nav_items a:hover{
    background-color: #0000008e;
  }

  .top_nav_items i{
   padding-right: 10px;
  }

  .active{
   display: block;
  }
}

/* -------------------- border divider -------------------- */

hr.solid{
  border-top: 0.5px solid #FFFFFF;
}

/* -------------------- skill bar -------------------- */


/* ------------ bar background ------------ */

.skill_background{
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

/* ------------ bar front ------------ */

.skills_bar{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: FFFFFF;
  border-radius: 10px; 
}

/* ------------ front bar length & colors ------------ */

.html{
  width: 80%; 
  background-color: #BFA182;
}

.css{
  width: 70%; 
  background-color: #82A3BF;
}

.js{
  width: 45%; 
  background-color: #BCBF82;
}

.php{
  width: 50%; 
  background-color: #9682BF;
}

/* -------------------- footer -------------------- */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF; 
}

/* ------------ social media bar ------------ */

.social_icons{
  height:10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  line-height: 0px;
}

/* ------------ social media icons ------------ */

.fa{
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  margin: 5px 2px;
}

.fa:hover{
  opacity: 0.7;
}

/* ------------ icon background colors ------------ */

.fa-linkedin{
  background: #007bb5;
  color: white;
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-instagram{
  background: #125688;
  color: white;
}

.fa-telegram{
  background: #00aff0;
  color: white;
}

.fa-github{
  background: #2c4762;
  color: white;
}

.fa-reddit{
  background: #ff5700;
  color: white;
}

.fa-snapchat-ghost{
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* -------------------- end text -------------------- */

.text{
  color: #FFFFFF;
  margin-top: 20px;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}
