/* root variables */
:root {
  --primary: #38b000;
  --secondary: #008000;
  --background: #151418;
  --background-secondary: #242329;
  --light: #ffffff;
  --dark: #151418;
  --font-dark: #46454a;
  --font-secondary: #6b6b6b;
  --box-shadow: #00000033;
}

/* css main */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
  background: url("../images/background.jpg") no-repeat center/cover
    var(--background);
}

/* side navbar */
.sidenavbar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
}

/* profile, avatar */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar {
  width: 200px;
  height: 200px;
  padding: 30px;
  border-radius: 50%;
  transition: 0.4s;
}

.sidenavbar .profile .profile_avatar:hover {
  transform: scale(1.2);
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: none;
}

.sidenavbar .profile h3 {
  color: var(--light);
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  margin-top: 20px;
}

/* side navbar text */
.about {
  color: var(--light);
  background: var(--primary);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  padding: 2px 10px;
  border-radius: 2px;
  margin-top: 0;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 55px;
}

/* side navbar content */
.sidenavbar a {
  color: var(--light);
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none !important;
  margin-top: 10px;
  padding-left: 65px;
  box-sizing: border-box;
  transition: 0.4s;
}

.sidenavbar a:hover {
  color: var(--secondary);
}

.sidenavbar i {
  padding-right: 10px;
  color: var(--light);
}

/* top area */
.top-area {
  height: 100vh;
  transition: 0.4s;
}

/* typewriter text */
.top_text {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  letter-spacing: 0.1em;
  transform: translate(-50%, -50%);
  color: var(--light) !important;
}

.typewrite {
  text-align: center;
  font-size: 1.8em !important;
  color: var(--light) !important;
}

.abs-center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* scroll button */
.btn-scroll {
  position: absolute;
  top: 80%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.mouse {
  width: 32px;
  height: 58px;
  border-radius: 100px;
  border: 2px solid var(--light);
}

.mouse::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  background: var(--light);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  opacity: 1;
  animation: mouse 1.5s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 5px;
  }

  to {
    opacity: 0;
    top: 50px;
  }
}

/* main content */
.content {
  margin-left: 250px;
}

/* margin and padding */
.p-1 {
  padding: 10px;
}

.mt-4 {
  margin-top: 40px;
}

/* content */
.main_text {
  color: var(--light);
  margin-left: 50px;
  margin-right: 50px;
}

.txt {
  color: var(--light);
}

.top_nav {
  display: none;
  height: auto;
}

.content .card p {
  font-size: 1.25em;
  margin-left: 50px;
  margin-right: 50px;
  color: var(--font-secondary);
  transition: 0.4s;
}

.bg-card {
  padding: 10px 0;
  margin: 40px;
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  border-radius: 5px;
}

/* icons */
.icon-display {
  display: inline;
}

.icon-fg {
  width: 30px;
  margin-top: 30px;
  margin-right: 25px;
  font-size: 1em;
  color: #000000;
  transition: 0.4s;
}

.icon-bg {
  padding: 20px 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

/* things i like */
.fa-code {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #2ad8cf;
}

.fa-playstation {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #006fcd;
  margin-left: -16px;
}

.fa-spotify {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #1ed761;
}

.fa-cog {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #9ec4c5;
}

.fa-mobile-alt {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #003057;
}

.fa-image {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #79975a;
  margin-left: 8.5px;
}

/* project section grid */
.container {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    "item1 item1 item2"
    "item3 item4 item4"
    "item5 item5 item6";
  margin-left: 50px;
  margin-right: 50px;
}

.item {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  border-radius: 5px;
  transition: 0.4s;
  padding: 20px 0 40px 0;
}

.item:hover {
  transform: scale(0.98);
  cursor: pointer;
}

/* item content */
.item_text {
  color: var(--light);
  margin-left: 50px;
  margin-right: 50px;
  padding: 0 0 10px 0;
  border-bottom: 3px solid #ffffff33;
}

.item_addtext {
  font-size: 1.25em;
  margin-left: 50px;
  margin-right: 50px;
  color: var(--light) !important;
  transition: 0.4s;
}

.btn {
  background: #ffffff33;
  text-align: center;
  border-radius: 5px;
  margin-right: 0;
  height: 30px;
  width: 70px;
  padding: 10px;
  color: var(--light);
  text-decoration: none;
  outline: none;
}

.btn:hover {
  background: #ffffff1a;
  cursor: pointer;
}

#item1 {
  grid-area: item1;
  background: url("../images/Covid-19Tracker.png");
  transition: 0.4s;
}

#item2 {
  grid-area: item2;
  background: url("../images/AutomobileWebsite.png");
}

#item3 {
  grid-area: item3;
  background: url("../images/E-Notes.png");
}

#item4 {
  grid-area: item4;
  background: url("../images/CodezillaForum.png");
}

#item5 {
  grid-area: item5;
  background: url("../images/Portfolio.png");
}

#item6 {
  grid-area: item6;
  background: url("../images/AnalogClock.png");
}

/* button */
.button {
  background: none;
  border: 1px solid var(--primary);
  text-align: center;
  border-radius: 5px;
  margin-right: 0;
  height: 40px;
  width: 70px;
  color: var(--primary);
  transition: 0.4s;
  text-decoration: none;
  outline: none;
}

.button-margin {
  margin-left: 50px;
}

.button:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--light);
  cursor: pointer;
  text-decoration: none;
}

/* skill bar */
.skill-bars {
  margin: 0 58px;
}

.skill-bars .bar {
  margin: 20px 0;
  padding: 0 0 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 1.25em;
  color: var(--font-secondary);
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: var(--background-secondary);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 2px;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--primary);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 75%;
}
.bar .progress-line.js span {
  width: 45%;
}
.bar .progress-line.php span {
  width: 65%;
}
.bar .progress-line.mysql span {
  width: 50%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 12px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 6px;
  border-top-color: var(--background-secondary);
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -36px;
  right: 0;
  font-weight: 500;
  background: var(--background-secondary);
  color: var(--light);
  padding: 5px 8px;
  font-size: 0.75em;
  border-radius: 2px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "75%";
}
.progress-line.js span::after {
  content: "45%";
}
.progress-line.php span::after {
  content: "65%";
}
.progress-line.mysql span::after {
  content: "50%";
}

/* tools & technoligies */
.fa-bootstrap {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #7952b3;
}

.fa-file-code {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #0066b8;
  margin-left: -19px;
}

.fa-sass {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #cd6799;
}

.fa-figma {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #0acf83;
  margin-left: 27px;
}

.fa-git {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #f1502f;
}

.fa-wordpress {
  background: var(--background);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0 var(--box-shadow);
  color: #0073aa;
  margin-left: 50px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 40px;
}

/* social media icons */
.social_icons {
  height: 0;
  width: 40px;
  transition: 0.2s;
  color: #ffffff;
}

.social_icons:hover {
  transform: translateY(-8px);
}

.font_awesome {
  padding: 10px;
}

/* end text */
.text {
  font-size: 0.8em !important;
  text-align: center;
  color: var(--light) !important;
  padding-bottom: 10px;
}

.fa-heart {
  color: var(--primary);
}

.fa-copyright {
  margin-bottom: 5px;
}

/* link text decoration*/
a:link {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p a {
  color: var(--light);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* top scroller */
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 1;
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: 0.4s;
  padding: 8px;
  border-radius: 5px;
}

#myBtn:hover {
  background: var(--primary);
  color: var(--light);
  cursor: pointer;
}

/* responsive css */
@media screen and (max-width: 1024px) {
  /* sidebar */
  .sidenavbar {
    display: none;
  }
  /* top area */
  .top-area {
    height: 100vh;
    transition: 0.4s;
  }

  /* typewriter text */
  .top_text {
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: var(--light);
    font-size: 0.8em;
  }

  /* scroll button */
  .btn-scroll {
    display: block;
    top: 80%;
    left: 50%;
  }

  .button-margin {
    margin: 0;
  }

  /* content area */
  .content {
    margin: 0;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .content .card p {
    margin-left: 0;
    margin-right: 0;
  }

  .main_text {
    margin-left: 0;
    margin-right: 0;
  }

  .bg-card {
    margin: 10px !important;
    padding: 10px !important;
  }

  /* side navbar text */
  .about {
    padding: 2px 5px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  /* top navbar */
  .top_nav {
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  /* responsive side bar */
  .nav_bar {
    background: var(--background);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  /* avatar image */
  .nav_bar .top_nav_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.4s;
  }

  .nav_bar .top_nav_avatar:hover {
    transform: scale(1.5);
    border-radius: 50%;
    cursor: none;
  }

  .side_nav_items .profile .profile_avatar {
    width: 150px;
    height: 150px;
    padding: 50px;
    border-radius: 50%;
    transition: 0.4s;
  }

  .side_nav_items .profile .profile_avatar:hover {
    transform: scale(1.2);
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: none;
  }

  .side_nav_items .profile h3 {
    color: var(--light);
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: normal;
  }

  /* sidebar button */
  .fa-bars {
    color: var(--dark);
    font-size: 30px;
    cursor: pointer;
    background: var(--primary);
    padding: 0.5rem;
    border-radius: 5px;
  }

  .fa-times {
    color: var(--dark) !important;
    position: absolute;
    top: 18px;
    right: 10px;
    background: var(--primary);
    padding: 0.6rem;
    border-radius: 5px;
  }

  /* navbar contents */
  .side_nav_items {
    background: var(--background);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 var(--box-shadow);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.4s;
  }

  .side_nav_items::-webkit-scrollbar {
    display: none;
  }

  .side_nav_items a {
    color: var(--light);
    display: block;
    letter-spacing: 1px;
    transition: 0.4s;
    border-radius: 5px;
    text-decoration: none;
    padding: 0 0 50px 60px;
  }

  .side_nav_items a:hover {
    color: var(--secondary);
  }

  .side_nav_items i {
    padding-right: 10px;
    color: var(--light);
  }

  .active {
    display: block;
  }

  /* icons */
  .icon-display {
    display: block !important;
  }

  .icon-fg {
    font-size: 1.1em !important;
    width: 25px !important;
    margin-top: 15px !important;
    margin-right: 20px !important;
  }

  /* things i like */
  .fa-playstation {
    margin-left: 0 !important;
  }

  .fa-image {
    margin-left: 0 !important;
  }

  /* project section grid */
  .container {
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6" !important;
    margin: 0 !important;
  }

  .item {
    padding: 10px 20px 20px 20px !important;
  }

  .item_text {
    margin-left: 0;
    margin-right: 0;
  }

  /* skill bar */
  .skill-bars {
    margin: 10px;
  }

  /* tools & technoligies */
  .fa-file-code {
    margin-left: 0;
  }

  .fa-figma {
    margin-left: 0;
  }

  .fa-wordpress {
    margin-left: 0;
  }

  #myBtn {
    right: 20px;
  }
}
