/* root variables */
:root {
  --primary: #2dbff8;
  --secondary: #e4c083;
  --dark: #000000;
  --font-dark: #181818;
  --font-secondary: #797979;
  --font-light: #ffffff;
  --border-primary: #08aae3;
}

/* css main */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* side navbar */
.sidenavbar {
  padding-top: 67px;
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: var(--dark);
}

/* profile, avatar */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.4s;
}

.sidenavbar .profile .profile_avatar:hover {
  transform: scale(1.3);
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: none;
}

.sidenavbar .profile h3 {
  color: var(--font-light);
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  margin-top: 20px;
}

/* side navbar text */
.about {
  color: var(--secondary);
  margin-top: 0;
  font-size: 1em;
  text-align: center;
  margin-bottom: 55px;
}

/* side navbar content */
.sidenavbar a {
  color: var(--font-light);
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none !important;
  padding-left: 65px;
  box-sizing: border-box;
  transition: 0.4s;
}

.sidenavbar a:hover {
  background: var(--primary);
}

.sidenavbar i {
  padding-right: 10px;
  color: var(--font-light);
}

/* side image */
.image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://source.unsplash.com/collection/49492594/1600x1600") no-repeat
      center center/cover;
  height: 100vh;
  transition: 0.4s;
}

/* typewriter text */
.top_text {
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  letter-spacing: 0.1em;
  transform: translate(-50%, -50%);
  color: var(--font-light) !important;
}

.typewrite {
  text-align: center;
  font-size: 1.8em !important;
  color: var(--font-light) !important;
}

.abs-center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* side image button */
.sideimgbtn {
  background: none;
  border: none;
  text-align: center;
  margin-top: 120px;
  height: 65px;
  width: 25px;
  outline: none;
  transition: 0.4s;
}

.sideimgbtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.fa-chevron-down {
  color: #ffffff;
}

/* main content */
.content {
  margin-left: 250px;
}

/* margin and padding */
.p-1 {
  padding: 10px;
}

.mt-4 {
  margin-top: 40px;
}

/* content */
.main_text {
  color: var(--font-dark);
  margin-left: 50px;
  margin-right: 50px;
}

.top_nav {
  display: none;
  height: auto;
}

.content .card p {
  font-size: 1.25em;
  margin-left: 50px;
  margin-right: 50px;
  color: var(--font-secondary);
  transition: 0.4s;
}

/* icons */
.icon-display {
  display: inline;
}

.icon-fg {
  width: 30px;
  margin-top: 30px;
  margin-right: 25px;
  font-size: 1em;
  color: #000000;
  transition: 0.4s;
}

.icon-bg {
  padding: 22px;
  width: 22px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
}

.icon-bg:hover {
  box-shadow: 2px 2px 50px var(--secondary);
}

/* things i like */
.fa-laptop-code {
  background-color: #010a14;
  color: var(--font-light);
}

.fa-playstation {
  background-color: #006fcd;
  color: var(--font-light);
  margin-left: -8px;
}

.fa-spotify {
  background-color: #1ed761;
  color: var(--font-light);
}

.fa-cog {
  background-color: #cc0000;
  color: var(--font-light);
}

.fa-mobile-alt {
  background-color: #872ec4;
  color: var(--font-light);
}

.fa-image {
  background-color: #3c327b;
  color: var(--font-light);
  margin-left: 11px;
}

/* project section grid */
.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
  margin-left: 50px;
  margin-right: 50px;
}

.item {
  background: var(--font-light);
  border-radius: 20px;
  transition: 0.4s;
  padding: 20px 0 40px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item:hover {
  transform: scale(0.95);
}

#item1 {
  grid-area: item1;
}
#item2 {
  grid-area: item2;
}
#item3 {
  grid-area: item3;
}
#item4 {
  grid-area: item4;
}
#item5 {
  grid-area: item5;
}
#item6 {
  grid-area: item6;
}

/* button */
.button {
  background: none;
  border: 1px solid var(--border-primary);
  text-align: center;
  border-radius: 20px;
  margin-right: 0;
  height: 40px;
  width: 70px;
  color: var(--border-primary);
  transition: 0.4s;
  text-decoration: none;
  outline: none;
}

.button-margin {
  margin-left: 50px;
}

.button:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--font-light);
  cursor: pointer;
  text-decoration: none;
}

/* skill bar */
.skill_background {
  width: 91%;
  background-color: #00000022;
  margin-left: 50px;
  border-radius: 10px;
}

.skills_bar {
  padding: 10px;
  border-radius: 10px;
}

.html {
  width: 90%;
  background-color: #f16529;
}

.css {
  width: 75%;
  background-color: #2565ae;
}

.js {
  width: 45%;
  background-color: #f0db4f;
}

.php {
  width: 65%;
  background-color: #787cb5;
}

.mysql {
  width: 50%;
  background-color: #00758f;
}

/* skill bar icons */
.fa-html5 {
  color: #f16529;
}

.fa-css3-alt {
  color: #2565ae;
}

.fa-js {
  color: #f0db4f;
  background-color: var(--dark);
}

.fa-php {
  background-color: #787cb5;
  height: 18px;
  width: 33px;
  border-radius: 49%;
  color: var(--dark);
}

.fa-database {
  color: #00758f;
}

/* tools & technoligies */

.fa-bootstrap {
  background-color: #553c7b;
  color: var(--font-light);
}

.fa-file-code {
  background-color: #0066b8;
  color: var(--font-light);
  margin-left: -17px;
}

.fa-sass {
  background-color: #cd6799;
  color: var(--font-light);
}

.fa-terminal {
  background-color: #28323c;
  color: var(--font-light);
  margin-left: 20px;
}

.fa-github-alt {
  background-color: #211f1f;
  color: var(--font-light);
}

.fa-ubuntu {
  background-color: #dd4814;
  color: var(--font-light);
  margin-left: 11px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

/* social media icons */
.social_icons {
  height: 10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
}

.font_awesome {
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook-f {
  background: none;
  color: #1778f2;
  border-top: 1px solid #1778f2;
  border-bottom: 1px solid #1778f2;
  border-left: 1px solid #1778f2;
  border-radius: 16px 0px 0px 16px;
  transition: 0.4s;
}

.fa-facebook-f:hover {
  background: #1778f2;
  color: var(--font-light);
  border-radius: 16px 0px 0px 16px;
}

.fa-instagram {
  background: none;
  color: #dd2a7b;
  border-top: 1px solid #dd2a7b;
  border-bottom: 1px solid #dd2a7b;
  transition: 0.4s;
}

.fa-instagram:hover {
  background: #dd2a7b;
  color: var(--font-light);
}

.fa-github-square {
  background: none;
  color: #211f1f;
  border-top: 1px solid #211f1f;
  border-bottom: 1px solid #211f1f;
  transition: 0.4s;
}

.fa-github-square:hover {
  background: #211f1f;
  color: var(--font-light);
}

.fa-linkedin-in {
  background: none;
  color: #006192;
  border-top: 1px solid #006192;
  border-bottom: 1px solid #006192;
  transition: 0.4s;
}

.fa-linkedin-in:hover {
  background: #006192;
  color: var(--font-light);
}

.fa-telegram-plane {
  background: none;
  color: #0088cc;
  border-top: 1px solid #0088cc;
  border-right: 1px solid #0088cc;
  border-bottom: 1px solid #0088cc;
  border-radius: 0px 16px 16px 0px;
  transition: 0.4s;
}

.fa-telegram-plane:hover {
  background: #0088cc;
  color: var(--font-light);
  border-radius: 0px 16px 16px 0px;
}

/* end text */
.text {
  color: var(--secondary) !important;
  margin-top: 30px;
  font-size: 0.8em !important;
  text-align: center;
  margin-bottom: 10px !important;
}

.fa-copyright {
  margin-bottom: 5px;
}

/* link text decoration*/
a:link {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p a {
  color: var(--secondary);
}

/* responsive css */
@media screen and (max-width: 1024px) {
  /* sidebar */
  .sidenavbar {
    display: none;
  }

  /* typewriter text */
  .top_text {
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: var(--font-light);
  }

  /* side image button */
  .sideimgbtn {
    margin-top: 50px !important;
    height: 65px !important;
    width: 25px !important;
  }

  .button-margin {
    margin-left: 0 !important;
  }

  /* content area */
  .content {
    margin: 0;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .content .card p {
    margin-left: 0;
    margin-right: 0;
  }

  .main_text {
    margin-left: 0;
    margin-right: 0;
  }

  /* top navbar */
  .top_nav {
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  /* responsive dropdown bar */
  .nav_bar {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  /* avatar image */
  .nav_bar .top_nav_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.4s;
  }

  .nav_bar .top_nav_avatar:hover {
    transform: scale(1.5);
    border-radius: 50%;
    cursor: none;
  }

  /* dropdown button */
  .nav_bar .nav_btn {
    color: var(--font-light);
    cursor: pointer;
  }

  /* navbar contents */
  .top_nav_items {
    background-color: var(--dark);
    display: none;
  }

  .top_nav_items a {
    color: var(--font-light);
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none !important;
    box-sizing: border-box;
    transition: 0.4s;
  }

  .top_nav_items a:hover {
    background: var(--primary);
  }

  .top_nav_items i {
    padding-right: 10px;
    color: var(--font-light);
  }

  .active {
    display: block;
  }

  /* icons */
  .icon-display {
    display: block !important;
  }

  .icon-fg {
    font-size: 1.1em !important;
    width: 25px !important;
    margin-top: 15px !important;
    margin-right: 20px !important;
  }

  .icon-bg {
    padding: 16px !important;
  }

  /* things i like */
  .fa-playstation {
    margin-left: 0 !important;
  }

  .fa-image {
    margin-left: 0 !important;
  }

  /* project section grid */
  .container {
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6" !important;
    margin: 0 !important;
  }

  .item {
    padding: 10px 20px 20px 20px !important;
  }

  /* skill bar */
  .skill_background {
    width: 100% !important;
    margin-left: 0 !important;
  }

  /* tools & technoligies */
  .fa-file-code {
    margin-left: 0;
  }

  .fa-terminal {
    margin-left: 0;
  }

  .fa-ubuntu {
    margin-left: 0;
  }
}
