body, html{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #010101;
}

/* side navbar */
.sidenavbar{
  padding-top: 67px;
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #010101; 
}

.sideborder{
  border-right: 4px solid #EE1D52;
  height: 100vh;
}

/* profile, avatar */
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin-bottom: 10px;
  transition-property: width height;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.sidenavbar .profile .profile_avatar:hover{
  width: 208px;
  height: 208px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: none;
}

.sidenavbar .profile h3{
  color: #69C9D0;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  margin-top: 20px;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.sidenavbar .profile h3:hover{
  color: #EE1D52;
  cursor: none;
}

/* side navbar text */
.about{
  color: #69C9D0;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 55px;
}

.text_margin{
  margin-bottom: 90px;
}

/* top navbar text */
.top_nav_text{
  padding: 0px;
  color: #FFFFFF;
  text-align: center;
  margin-right: auto;
}

/* side navbar content */
.sidenavbar a{
  color: #FFFFFF;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.sidenavbar a:hover{
  color: #EE1D52;
}

.sidenavbar i{
  padding-right: 10px;
  color: #69C9D0;
}

/* main content */
.content{
  margin-left: 250px;
  color: #FFFFFF;
}

.main_text{
  color: #69C9D0; 
  margin-left: 100px;
  margin-right: 100px;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

.main_text:hover{
  color: #EE1D52;
  cursor: none;
}

.top_nav{
  display: none;
  height: auto;
}

.content .card p{
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.sec_bg{
  background-color: #11111180;
  padding: 10px;
  border-radius: 2px;
}

/* responsive css */

@media screen and (max-width: 780px){
  
  .sidenavbar{
    display: none;
  }

  .sideborder{
    display: none;
  }
  
  /* content area */
  .content{
    margin: 0;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  } 

  .content .card p{
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .main_text{
    margin-left: 0;
    margin-right: 0;
  }

  /* top navbar */
  .top_nav{
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  .bottomborder{
    border-bottom: 4px solid #EE1D52;
  }

  /* responsive dropdown bar */
  .nav_bar{
    background-color: #010101; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  } 

  /* avatar image */
  .nav_bar .top_nav_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: width height;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
  }

  .nav_bar .top_nav_avatar:hover{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: none;
  }
  
  /* dropdown button */
  .nav_bar .nav_btn{
    color: #FFFFFF;
    cursor: pointer;
  }

  .nav_bar .nav_btn:hover{
    color: #69C9D0;
    cursor: pointer;
  } 

  /* navbar contents */
  .top_nav_items{
    background-color: #010101; 
    display: none;
  }

  .top_nav_items a{
    color: #FFFFFF;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
  }

  .top_nav_items a:hover{
    color: #EE1D52;
  }

  .top_nav_items i{
    padding-right: 10px;
    color: #69C9D0;
  }

  .active{
    display: block;
  }

  .skill_background{
    width: 100% !important;
    margin-left: 0px !important;
  }
}

/* button */
.button{
  background-color: #00000000;
  border: 1px solid #69C9D0;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 0;
  color: #FFFFFF;
}

.button1:hover{
  border: 1px solid #EE1D52;
  color: #FFFFFF;
  cursor: pointer;
}

/* skill bar */
.skill_background{
  width: 80%;
  background-color: #FFFFFFAB;
  margin-left: 100px;
  border-radius: 2px;
}

.skills_bar{
  padding: 5px;
  border-radius: 2px;
}

.html{
  width: 80%; 
  background-color: #F16529;
}

.css{
  width: 70%; 
  background-color: #2565AE;
}

.js{
  width: 45%; 
  background-color: #F0DB4F;
}

.php{
  width: 50%; 
  background-color: #787CB5;
}

.mysql{
  width: 40%; 
  background-color: #00758F;
}

/* skill icon */
.fa-js{
  background: #000000;
}

.fa-php{
  background: #787CB5;
  width: 33px;
  height: 17px;
  border-radius: 49%;
}

/* footer */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

/* social media icons */
.social_icons{
  height: 10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
}

.font_awesome{
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.font_awesome:hover{
  opacity: 0.7;
}

.fa-facebook-f{
  background: #1778F2;
  color: white;
  border-radius: 2px 0px 0px 2px;
}

.fa-instagram{
  background: #DD2A7B;
  color: white;
}

.fa-github{
  background: #211F1F;
  color: white;
}

.fa-linkedin-in{
  background: #006192;
  color: white;
}

.fa-telegram-plane{
  background: #0088CC;
  color: white;
  border-radius: 0px 2px 2px 0px;
}

/* end text */
.text{
  margin-top: 30px;
  font-size: 12px !important;
  text-align: center;
  margin-bottom: auto;
  color: #69C9D0;
}

/* link text decoration*/
a:link{
  text-decoration: none;
}