/* root variables */
:root {
  --primary: #ffcb97;
  --secondary: #fca9ff;
  --light: #ffffff;
  --dark: #000000;
  --font-dark: #181818;
  --font-secondary: #797979;
}

/* css main */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
  transition: 0.4s;
  background: hsla(298, 68%, 90%, 1);
  background: linear-gradient(
    90deg,
    hsla(298, 68%, 90%, 1) 0%,
    hsla(30, 82%, 91%, 1) 100%
  );
}

/* side navbar */
.sidenavbar {
  padding-top: 67px;
  position: fixed;
  width: 250px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
}

/* profile, avatar */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.4s;
}

.sidenavbar .profile .profile_avatar:hover {
  transform: scale(1.3);
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: none;
}

.sidenavbar .profile h3 {
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  margin-top: 20px;
}

/* side navbar text */
.about {
  color: var(--secondary);
  margin-top: 0;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 55px;
}

/* side navbar content */
.sidenavbar a {
  color: var(--dark);
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none !important;
  padding-left: 65px;
  box-sizing: border-box;
  transition: 0.4s;
}

.sidenavbar a:hover {
  background: var(--secondary);
}

.sidenavbar i {
  padding-right: 10px;
  color: var(--dark);
}

/* top area */
.top-area {
  height: 100vh;
  transition: 0.4s;
}

/* typewriter text */
.top_text {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  letter-spacing: 0.1em;
  transform: translate(-50%, -50%);
  color: var(--dark) !important;
}

.typewrite {
  text-align: center;
  font-size: 1.8em !important;
  color: var(--dark) !important;
}

.abs-center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* scroll button */
.btn-scroll {
  position: absolute;
  top: 80%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.mouse {
  width: 32px;
  height: 58px;
  border-radius: 100px;
  border: 2px solid var(--dark);
}

.mouse::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  background: var(--dark);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  opacity: 1;
  animation: mouse 1.5s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 5px;
  }

  to {
    opacity: 0;
    top: 50px;
  }
}

/* main content */
.content {
  margin-left: 250px;
}

/* margin and padding */
.p-1 {
  padding: 10px;
}

.mt-4 {
  margin-top: 40px;
}

/* content */
.main_text {
  color: var(--font-dark);
  margin-left: 50px;
  margin-right: 50px;
}

.top_nav {
  display: none;
  height: auto;
}

.content .card p {
  font-size: 1.25em;
  margin-left: 50px;
  margin-right: 50px;
  color: var(--font-secondary);
  transition: 0.4s;
}

.bg-card {
  padding: 10px 0;
  margin: 40px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

/* icons */
.icon-display {
  display: inline;
}

.icon-fg {
  width: 30px;
  margin-top: 30px;
  margin-right: 25px;
  font-size: 1em;
  color: #000000;
  transition: 0.4s;
}

.icon-bg {
  padding: 20px 16px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
}

/* things i like */
.fa-laptop-code {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #010a14;
}

.fa-playstation {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #006fcd;

  margin-left: -16px;
}

.fa-spotify {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #1ed761;
}

.fa-cog {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #cc0000;
}

.fa-mobile-alt {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #872ec4;
}

.fa-image {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #3c327b;
  margin-left: 8.5px;
}

/* project section grid */
.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6";
  margin-left: 50px;
  margin-right: 50px;
}

.item {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  transition: 0.4s;
  padding: 20px 0 40px 0;
}

.item:hover {
  transform: scale(0.98);
}

#item1 {
  grid-area: item1;
}
#item2 {
  grid-area: item2;
}
#item3 {
  grid-area: item3;
}
#item4 {
  grid-area: item4;
}
#item5 {
  grid-area: item5;
}
#item6 {
  grid-area: item6;
}

/* button */
.button {
  background: none;
  border: 1px solid var(--primary);
  text-align: center;
  border-radius: 20px;
  margin-right: 0;
  height: 40px;
  width: 70px;
  color: var(--primary);
  transition: 0.4s;
  text-decoration: none;
  outline: none;
}

.button-margin {
  margin-left: 50px;
}

.button:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--light);
  cursor: pointer;
  text-decoration: none;
}

/* skill bar */
.skill-bars {
  margin: 0 58px;
}

.skill-bars .bar {
  margin: 20px 0;
  padding: 0 0 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 1.25em;
  color: var(--font-secondary);
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 20px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.3);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 20px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--primary);
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 75%;
}
.bar .progress-line.js span {
  width: 45%;
}
.bar .progress-line.php span {
  width: 65%;
}
.bar .progress-line.mysql span {
  width: 50%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 12px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 6px;
  border-top-color: var(--dark);
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -36px;
  right: 0;
  font-weight: 500;
  background: var(--dark);
  color: var(--light);
  padding: 5px 8px;
  font-size: 0.75em;
  border-radius: 20px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "75%";
}
.progress-line.js span::after {
  content: "45%";
}
.progress-line.php span::after {
  content: "65%";
}
.progress-line.mysql span::after {
  content: "50%";
}

/* tools & technoligies */
.fa-bootstrap {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #553c7b;
}

.fa-file-code {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #0066b8;
  margin-left: -19px;
}

.fa-sass {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #cd6799;
}

.fa-terminal {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #28323c;
  margin-left: 27px;
}

.fa-github-alt {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #211f1f;
}

.fa-ubuntu {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #dd4814;
  margin-left: 11px;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

/* social media icons */
.social_icons {
  height: 10px;
  width: 50px;
  border-radius: 50px;
  text-align: left;
}

.font_awesome {
  padding: 15px 10px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

.icon-card {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.fa-facebook-f {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #1778f2;
  border-radius: 14px;
  transition: 0.4s;
}

.fa-facebook-f:hover {
  background: #1778f2;
  color: var(--light);
}

.fa-instagram {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #dd2a7b;
  border-radius: 14px;
  transition: 0.4s;
}

.fa-instagram:hover {
  background: #dd2a7b;
  color: var(--light);
}

.fa-github-square {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #211f1f;
  border-radius: 14px;
  transition: 0.4s;
}

.fa-github-square:hover {
  background: #211f1f;
  color: var(--light);
}

.fa-linkedin-in {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #006192;
  border-radius: 14px;
  transition: 0.4s;
}

.fa-linkedin-in:hover {
  background: #006192;
  color: var(--light);
}

.fa-telegram-plane {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #0088cc;
  border-radius: 14px;
  transition: 0.4s;
}

.fa-telegram-plane:hover {
  background: #0088cc;
  color: var(--light);
}

/* end text */
.text {
  margin-top: 40px;
  font-size: 0.8em !important;
  text-align: center;
  color: var(--dark) !important;
}

.fa-copyright {
  margin-bottom: 5px;
}

/* link text decoration*/
a:link {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

p a {
  color: var(--dark);
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fbe8d5;
}

::-webkit-scrollbar-thumb {
  background: var(--light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* responsive css */
@media screen and (max-width: 1024px) {
  /* sidebar */
  .sidenavbar {
    display: none;
  }
  /* top area */
  .top-area {
    height: 100vh;
    transition: 0.4s;
  }

  /* typewriter text */
  .top_text {
    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: var(--light);
    font-size: 0.8em;
  }

  /* scroll button */
  .btn-scroll {
    display: none;
  }

  .button-margin {
    margin: 0;
  }

  /* content area */
  .content {
    margin: 0;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .content .card p {
    margin-left: 0;
    margin-right: 0;
  }

  .main_text {
    margin-left: 0;
    margin-right: 0;
  }

  .bg-card {
    margin: 10px !important;
    padding: 10px !important;
  }

  /* top navbar */
  .top_nav {
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  /* responsive dropdown bar */
  .nav_bar {
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  /* avatar image */
  .nav_bar .top_nav_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.4s;
  }

  .nav_bar .top_nav_avatar:hover {
    transform: scale(1.5);
    border-radius: 50%;
    cursor: none;
  }

  /* dropdown button */
  .nav_bar .nav_btn {
    color: var(--dark);
    cursor: pointer;
  }

  /* navbar contents */
  .top_nav_items {
    display: none;
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin: 10px;
    padding: 40px 10px;
    border-radius: 20px;
  }

  .top_nav_items a {
    color: var(--dark);
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none !important;
    box-sizing: border-box;
    transition: 0.4s;
    border-radius: 20px;
  }

  .top_nav_items a:hover {
    background: var(--secondary);
  }

  .top_nav_items i {
    padding-right: 10px;
    color: var(--dark);
  }

  .active {
    display: block;
  }

  /* icons */
  .icon-display {
    display: block !important;
  }

  .icon-fg {
    font-size: 1.1em !important;
    width: 25px !important;
    margin-top: 15px !important;
    margin-right: 20px !important;
  }

  /* things i like */
  .fa-playstation {
    margin-left: 0 !important;
  }

  .fa-image {
    margin-left: 0 !important;
  }

  /* project section grid */
  .container {
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6" !important;
    margin: 0 !important;
  }

  .item {
    padding: 10px 20px 20px 20px !important;
  }

  /* skill bar */
  .skill-bars {
    margin: 10px;
  }

  /* tools & technoligies */
  .fa-file-code {
    margin-left: 0;
  }

  .fa-terminal {
    margin-left: 0;
  }

  .fa-ubuntu {
    margin-left: 0;
  }
}
