/* body */

body, html{
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Noto Sans JP', sans-serif;
}

/* side nav bar */

.sidenavbar{
  z-index: 1;
  top: 0;
  background: #17202A;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 67px;
  position: fixed;
  left: 0;
  width: 300px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

/* profile, avatar */

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidenavbar .profile h3{
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

/* side nav bar text */

.info{
  color: #FFFFFF;
  margin-top: 0px;
  font-weight: normal;
  text-align: center;
}

/* content text */

.paragraph{
  color: #5D6D7E; 
}

.text_margin{
  margin-bottom: 90px;
}

/* heading text */

.heading{
  text-align: center;
  padding: 5px;
  color: #17202A;
}

.top_nav_text{
  padding: 0px;
  color: #FFFFFF;
  text-align: center;
  margin-right: auto;
}

/* side nav bar content */

.sidenavbar a{
  color: #FFFFFF;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidenavbar a:hover{
  opacity: 0.7;
}

.sidenavbar i{
  padding-right: 10px;
}

/* main content */

.content{
  margin-top: 0px;
  padding: 10px;
  margin-left: 450px;
  margin-right: 200px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

/* responsive css section */

.top_nav{
  display: none;
  height: auto;
}

/* responsive content */

.content .card p{
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

@media screen and (max-width: 780px){
  .sidenavbar{
   display: none;
  }

  .content{
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
   padding: 10px 20px;
   height: auto;
   transition: 0s;
  } 

  .top_nav{
   display: block;
   justify-content: space-between;
   align-items: center;
  }

/* responsive dropdown bar */

  .nav_bar{
   background: #17202A;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7px ;
   
  } 

/* avatar image */

  .nav_bar .top_nav_avatar{
   width: 35px;
   height: 35px;
   border-radius: 50%;
  }

/* dropdown button */

  .nav_bar .nav_btn{
   color: #FFFFFF;
   font-size: 22px;
   cursor: pointer;
   transition: 0.5s;
   transition-property: color;
  }

  .nav_bar .nav_btn:hover{
   opacity: 0.7;
  } 

/* navbar contents */

  .top_nav_items{
   background: #17202A;
   display: none;
  
  }

  .top_nav_items a{
   color: #FFFFFF;
   display: block;
   text-align: center;
   letter-spacing: 1px;
   line-height: 60px;
   text-decoration: none;
   box-sizing: border-box;
   transition: 0.5s;
   transition-property: background;

  }

  .top_nav_items a:hover{
    opacity: 0.7;
  }

  .top_nav_items i{
   padding-right: 10px;
  }

  .active{
   display: block;
  }
}

/* border divider */

hr.solid{
  border-top: 0.5px solid #5D6D7E;
  border-bottom: 0.5px solid #5D6D7E;
}

/* skill bar */


/* bar background */

.skill_background{
  width: 100%;
  background-color: #0000001a;
  border-radius: 10px;
}

/* bar front */

.skills_bar{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  border-radius: 10px; 
}

/* front bar length & colors */

.html{
  width: 80%; 
  background-color: #9B59B6;
}

.css{
  width: 70%; 
  background-color: #2980B9;
}

.js{
  width: 45%; 
  background-color: #1ABC9C;
}

.php{
  width: 50%; 
  background-color: #F1C40F;
}

.mysql{
  width: 40%; 
  background-color: #E74C3C;
}

.shell{
  width: 35%; 
  background-color: #34495E ;
}

/* footer */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000; 
}

/* social media bar */

.social_icons{
  height:10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  line-height: 0px;
}

/* social media icons */

.fa{
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  margin: 5px 2px;
}

.fa:hover{
  opacity: 0.7;
}

/* icon background colors */

.fa-linkedin{
  background: #007bb5;
  color: white;
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-instagram{
  background: #125688;
  color: white;
}

.fa-telegram{
  background: #00aff0;
  color: white;
}

.fa-github{
  background: #2c4762;
  color: white;
}

.fa-reddit{
  background: #ff5700;
  color: white;
}

.fa-snapchat-ghost{
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* end text */

.text{
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
  margin-bottom: auto;
}

/* button */

.button {
  background-color: #17202A;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
  border-radius: 5px;
}

.button1:hover {
  opacity: 0.8;
}

/* link decoration */

a:link {
  text-decoration: none;
}


