body, html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

/* side navbar */
.sidenavbar{
  padding-top: 67px;
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #000000; 
}

.sideborder{
  border-right: 2px solid #FA8072;
  height: 100vh;
}

/* profile, avatar */
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition-property: width height;
  transition-duration: 0.5s;
}

.sidenavbar .profile .profile_avatar:hover{
  width: 208px;
  height: 208px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: none;
}

.sidenavbar .profile h3{
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  margin-top: 20px;
}

/* side navbar text */
.about{
  color: #FFFFFF;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 55px;
}

/* side navbar content */
.sidenavbar a{
  color: #FFFFFF;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none !important;
  padding-left: 40px;
  box-sizing: border-box;
}

.sidenavbar a:hover{
  opacity: 0.7;
}

.sidenavbar i{
  padding-right: 10px;
  color: #FFFFFF;
}

/* side image */
.image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/collection/49492594/1600x900");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image p{
  color: #FFFFFF;
  text-align: center;
  letter-spacing: .15em;
}

/* typewriter text */
.typewriter h1{
  color: #FFFFFF;
  font-size: 58px;
  overflow: hidden;
  border-right: .15em solid #FFFFFF;
  white-space: nowrap;
  margin: 25% 30% 0 30%;
  letter-spacing: .15em;
  animation: typing 4.6s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing{
  from {width: 0}
  to {width: 40%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50% {border-color: #FFFFFF}
}

/* side image button */
.sideimgbtn{
  background-color: #00000000;
  border: 1px solid #FFFFFF;
  text-align: center;
  margin-left: 45%;
  margin-top: 16%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #FFFFFF;
}

.sideimgbtn:hover{
  opacity: 0.7;
  cursor: pointer;
}

/* main content */
.content{
  margin-left: 250px;
}

.main_text{
  color: #000000; 
  margin-left: 100px;
  margin-right: 100px;
}

.top_nav{
  display: none;
  height: auto;
}

.content .card p{
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.sec_bg{
  background-color: #F7F7F7;
  padding: 10px;
  border-radius: 2px;
}

/* responsive css */

@media screen and (max-width: 812px){
  
  .sidenavbar{
    display: none;
  }

  .sideborder{
    display: none;
  }
  
  /* side image text */ 
  .image p{
    font-size: 14px !important;
  }

  /* typewriter text */
  .typewriter h1{
    font-size: 38px;
    margin: 85% 0 0 8%;
  }

  @keyframes typing{
    from{width: 0}
    to {width: 95%}
  }
  
  /* side image button */
  .sideimgbtn{
    margin-left: 42% !important;
    margin-top: 60% !important;
    height: 50px !important;
    width: 50px !important;
  }

  /* content area */
  .content{
    margin: 0;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  } 

  .content .card p{
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .main_text{
    margin-left: 0;
    margin-right: 0;
  }

  /* top navbar */
  .top_nav{
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  .bottomborder{
    border-bottom: 2px solid #FA8072;
  }

  /* responsive dropdown bar */
  .nav_bar{
    background-color: #000000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  } 

  /* avatar image */
  .nav_bar .top_nav_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-property: width height;
    transition-duration: 0.5s;
  }

  .nav_bar .top_nav_avatar:hover{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: none;
  }
  
  /* dropdown button */
  .nav_bar .nav_btn{
    color: #FFFFFF;
    cursor: pointer;
  }

  /* navbar contents */
  .top_nav_items{
    background-color: #000000; 
    display: none;
  }

  .top_nav_items a{
    color: #FFFFFF;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none!important;
    box-sizing: border-box;
  }

  .top_nav_items a:hover{
    opacity: 0.7;
  }

  .top_nav_items i{
    padding-right: 10px;
    color: #FFFFFF;
  }

  .active{
    display: block;
  }

  .tildisplay{
    display: block!important;
  }
  
  .tilicn{
    font-size: 22px !important;
    width: 25px !important;
    margin-top: 15px !important;
    margin-right: 20px !important;
  }

  .tilicnbg{
    padding: 10px !important;
  }

  .fa-playstation{
    margin-left: 0px !important;
  }

  .fa-image{
    margin-left: 0px !important;
  }

  .skill_background{
    width: 100% !important;
    margin-left: 0 !important;
  }
}

/* things i like */
.tildisplay{
  display: inline;
}

.tilicn{
  width: 30px;
  margin-top: 30px;
  margin-right: 25px;
  font-size: 20px;
  color: #000000;
}

.tilicnbg{
  padding: 12px;
  width: 25px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
}

.fa-code{
  background: #000000;
  color: white;
}

.fa-playstation{
  background: #000000;
  color: white;
  margin-left: 8px;
}

.fa-headphones-alt{
  background: #000000;
  color: white;
}

.fa-cog{
  background: #000000;
  color: white;
}

.fa-mobile-alt {
  background: #000000;
  color: white;
}

.fa-image{
  background: #000000;
  color: white;
  margin-left: 11px;
}

/* button */
.button{
  background-color: #FFFFFF00;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 2px;
  margin-right: 0;
  height: 40px;
  width: 70px;
  color: #000000;
}

.button:hover{
  opacity: 0.7;
  cursor: pointer;
}

/* skill bar */
.skill_background{
  width: 80%;
  background-color: #00000027;
  margin-left: 100px;
  border-radius: 2px;
}

.skills_bar{
  padding: 5px;
  border-radius: 2px;
}

.html{
  width: 80%; 
  background-color: #F16529;
}

.css{
  width: 70%; 
  background-color: #2565AE;
}

.js{
  width: 45%; 
  background-color: #F0DB4F;
}

.php{
  width: 50%; 
  background-color: #787CB5;
}

.mysql{
  width: 40%; 
  background-color: #00758F;
}

.fa-js{
  background-color: #000000;
}

.fa-php{
  background-color: #787CB5;
  height: 18px;
  width:33px;
  border-radius: 49%;
}

/* footer */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

/* social media icons */
.social_icons{
  height: 10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
}

.font_awesome{
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.font_awesome:hover{
  opacity: 0.7;
}

.fa-facebook-f{
  background: #1778F2;
  color: white;
  border-radius: 2px 0px 0px 2px;
}

.fa-instagram{
  background: #DD2A7B;
  color: white;
}

.fa-github{
  background: #211F1F;
  color: white;
}

.fa-linkedin-in{
  background: #006192;
  color: white;
}

.fa-telegram-plane{
  background: #0088CC;
  color: white;
  border-radius: 0px 2px 2px 0px;
}

/* end text */
.text{
  margin-top: 30px;
  font-size: 12px !important;
  text-align: center;
  margin-bottom: auto;
}

/* link text decoration*/
a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}