body, html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* side navbar */
.sidenavbar{
  padding-top: 67px;
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #0B5345; 
}

/* profile, avatar */
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenavbar .profile .profile_avatar{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidenavbar .profile h3{
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  margin-top: 20px;
}

/* side navbar text */
.about{
  color: #FFFFFF;
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 55px;
}

.text_margin{
  margin-bottom: 90px;
}

/* top navbar text */
.top_nav_text{
  padding: 0px;
  color: #FFFFFF;
  text-align: center;
  margin-right: auto;
}

/* side navbar content */
.sidenavbar a{
  color: #FFFFFF;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.sidenavbar a:hover{
  opacity: 0.7;
}

.sidenavbar i{
  padding-right: 10px;
}

/* main content */
.content{
  padding: 10px;
  margin-left: 350px;
  margin-right: 100px;
}

.main_text{
  color: #0B5345; 
}

.top_nav{
  display: none;
  height: auto;
}

.content .card p{
  font-size: 20px;
}

hr{
  border: 0;
  border-top: 1px solid #0000001A;
}


/* responsive css */

@media screen and (max-width: 780px){
  
  .sidenavbar{
   display: none;
  }
  
  /* content area */
  .content{
   margin: 0;
   padding: 10px 20px;
   height: auto;
  } 

  /* top navbar */
  .top_nav{
   display: block;
   justify-content: space-between;
   align-items: center;
  }

  /* responsive dropdown bar */
  .nav_bar{
   background-color: #0B5345; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
  } 

  /* avatar image */
  .nav_bar .top_nav_avatar{
   width: 40px;
   height: 40px;
   border-radius: 50%;
  }

  /* dropdown button */
  .nav_bar .nav_btn{
   color: #FFFFFF;
   cursor: pointer;
  }

  .nav_bar .nav_btn:hover{
   opacity: 0.7;
  } 

  /* navbar contents */
  .top_nav_items{
  background-color: #0B5345; 
   display: none;
  }

  .top_nav_items a{
   color: #FFFFFF;
   display: block;
   text-align: center;
   letter-spacing: 1px;
   line-height: 60px;
   text-decoration: none;
   box-sizing: border-box;
  }

  .top_nav_items a:hover{
    opacity: 0.7;
  }

  .top_nav_items i{
   padding-right: 10px;
  }

  .active{
   display: block;
  }
}

/* button */
.button{
  background-color: #FFFFFF;
  border: 1px solid #0B5345; ;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
}

.button1:hover{
  opacity: 0.8;
}

/* skill bar */
.skill_background{
  width: 100%;
  background-color: #0000001A;
}

.skills_bar{
padding: 3px;
}

.html{
  width: 80%; 
  background-color: #F16529;
}

.css{
  width: 70%; 
  background-color: #2565AE;
}

.js{
  width: 45%; 
  background-color: #F0DB4F;
}

.php{
  width: 50%; 
  background-color: #787CB5;
}

.mysql{
  width: 40%; 
  background-color: #00758F;
}

/* skill icon */
.fa-js{
  background: #000000;
}

.fa-php{
  background: #787CB5;
  width: 33px;
  height: 17px;
  border-radius: 49%;
}

/* footer */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

/* social media icons */
.social_icons{
  height:10px;
  width: 40px;
  border-radius: 50px;
  text-align: left;
}

.font_awesome{
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.font_awesome:hover{
  opacity: 0.7;
}

.fa-facebook-f{
  background: #1778F2;
  color: white;
  border-radius: 2px 0px 0px 2px;
}

.fa-instagram{
  background: #DD2A7B;
  color: white;
}

.fa-github{
  background: #211F1F;
  color: white;
}

.fa-linkedin-in{
  background: #006192;
  color: white;
}

.fa-telegram-plane{
  background: #0088CC;
  color: white;
  border-radius: 0px 2px 2px 0px;
}

/* end text */
.text{
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  margin-bottom: auto;
}

/* link text decoration*/
a:link{
  text-decoration: none;
}